<div class="container">
	<div class="col-md-6 col-sm-8 col-xs-8">
		<h6 class="quote">“You should enjoy the little detours to the fullest. Because that's where you'll find the things more important than what you want.”</h6>

        <section id="service" class="skill roomy-100">
                    <p><h3 class="skill-head">What can i do for you?</h3></p>

                        <div class="main_skill">
                                <div class="skill_bar sm-m-top-50">    
                                    <div class="teamskillbar clearfix m-top-20" data-percent="90%">
                                        <h6>Website</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="80%">
                                        <h6>Mobile app</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="75%">
                                        <h6>Video editing</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div> 
                                    <div class="teamskillbar clearfix m-top-50" data-percent="70%">
                                        <h6>Photo editing</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="80%">
                                        <h6>Translation</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>

                                </div>
                    </div>
            </section>

            <section id="skill" class="skill roomy-100">
            		<p><h3 class="skill-head">Coding</h3></p>

                        <div class="main_skill">
                                <div class="skill_bar sm-m-top-50">    
                                    <div class="teamskillbar clearfix m-top-20" data-percent="85%">
                                        <h6>Ruby on rails</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="60%">
                                        <h6>C</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="90%">
                                        <h6>HTML/CSS</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div> 
                                    <div class="teamskillbar clearfix m-top-50" data-percent="65%">
                                        <h6>Javascript/Jquery</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="80%">
                                        <h6>Bootstrap</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="80%">
                                        <h6>Sass</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="40%">
                                        <h6>Angular</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="80%">
                                        <h6>Git/Github</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="0%">
                                        <h6>Docker</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="0%">
                                        <h6>React</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="50%">
                                        <h6>Android studio</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    
                                </div>
                    </div>

            </section> 

            <section id="skill" class="skill roomy-100">
            		<p><h3 class="skill-head">filmmaking</h3></p>
                        <div class="main_skill">
                                <div class="skill_bar sm-m-top-50">    
                                    <div class="teamskillbar clearfix m-top-20" data-percent="60%">
                                        <h6>Adobe premium pro CC</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="0%">
                                        <h6>Adobe after effects cc</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                </div>
                        </div>

            </section> 

            <section id="skill" class="skill roomy-100">
            		<p><h3 class="skill-head">Electrical engineering</h3></p>

                        <div class="main_skill">

                                <div class="skill_bar sm-m-top-50">    
                                    <div class="teamskillbar clearfix m-top-20" data-percent="65%">
                                        <h6>PSIM</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="50%">
                                        <h6>LTspice</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="40%">
                                        <h6>MATLAB</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div> 
                                    <div class="teamskillbar clearfix m-top-50" data-percent="40%">
                                        <h6>VHDL</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="60%">
                                        <h6>Multisim</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="40%">
                                        <h6>Quartus II</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                </div>

                    </div>

            </section> 
            <section id="language" class="skill roomy-100">
            		<p><h3 class="skill-head">Languages</h3></p>

                        <div class="main_skill">

                                <div class="skill_bar sm-m-top-50">    
                                    <div class="teamskillbar clearfix m-top-20" data-percent="99%">
                                        <h6>Arabic</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-20" data-percent="90%">
                                        <h6>English</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="85%">
                                        <h6>French</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div> 
                                    <div class="teamskillbar clearfix m-top-50" data-percent="60%">
                                        <h6>Spanish</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="10%">
                                        <h6>Turkish</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                    <div class="teamskillbar clearfix m-top-50" data-percent="10%">
                                        <h6>Czech</h6>
                                        <div class="teamskillbar-bar"></div>
                                    </div>
                                </div>

                    </div>

            </section>

       


	</div>
<div class="col-md-1"></div>
	<div class="col-md-5 col-sm-3 col-xs-3 side-video">
       <section id="award" class="skill roomy-100">
                    <p><h3 class="skill-head">Awards</h3></p>
<div class="row">
    <div class="col-md-2"><%= image_tag "hermione.png", class: "award-image" %></div>
    <div class="col-md-10"><h6 class="award-title">2 prize in the contest of digital solutions for sustainable development organized by international organization of Francophonie</h6></div>
</div>



            </section>

                 <section id="award" class="skill roomy-100">
                    <p><h3 class="skill-head">Projects</h3></p>
                    <div class="row">
                        <div class="col-md-2"><%= link_to "http://univercours.com/", target: "_blank" do %><%= image_tag "univercours.png", class: "award-image1" %>
                        <% end %></div>
                        <div class="col-md-2"><%= image_tag "kusele.png", class: "award-image1" %></div>
                        <div class="col-md-2"><%= link_to "https://www.facebook.com/Capsule-Corp-336302313547402/", target: "_blank" do %><%= image_tag "capsule.png", class: "award-image1" %>
                        <% end %></div>                               
                    </div>




            </section>        <br/>
        <%= image_tag "licensecard1.jpg", class: "huntercard" %>
	</div>

</div>

